.navigation_menu {
    position: sticky;
    left: 50%;
    bottom: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-50%);
    width: 30em;
    height: 2.5em;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 30px;
    z-index: 99999;

    img {
        width: 15px;
        height: auto;
        margin: 0 0.8em 0 1em;
        transition: .2s;
    }

    input {
        width: 40em;
        height: 2em;
        border-radius: 1000px;
        border: 0px;
        outline: none;
        
        &:focus {
            border: 0px;
        }
    }

    .navigation_icons {
        cursor: pointer;
        width: 25px;
        height: 25px;
        padding: 15px;
        border-radius: 15px;
        transition: .2s;
        &:hover {
            background-color: rgba(0, 60, 255, 0.8);
        }
        &:hover img {
            filter: invert(100);
        }
        img {
            width: 25px;
            height: 25px;
            transition: .2s;
        }
    }
}

