<!-- The Navigation Menu Component -->
<div class="navigation_menu">
    <!-- <div class="navigation_icons">
        <img class="img1" src="{{ iconpath }}home.svg" alt="">
    </div>
    <div class="navigation_icons">
        <img src="{{ iconpath }}search.svg" alt="">
    </div>
    <div class="navigation_icons">
        <img src="{{ iconpath }}users.svg" alt="">
    </div>
    <div class="navigation_icons">
        <img src="{{ iconpath }}stats.svg" alt="">
    </div>
    <div class="navigation_icons">
        <img src="{{ iconpath }}user.svg" alt="">
    </div> -->
    <img src="{{ iconpath }}search.svg" alt="">
    <input class="" type="text">
</div>