.startpage {
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;

    .startpage-main-area {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('/assets/images/background/background_img.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;

        .startpage-main-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 88vh;
    
            .startpage-headline {
                width: 70em;
    
                h1 {
                    color: white;
                    margin: 0;
                    font-size: 2.4em;
                    font-weight: 200;
                }
                
                h2 {
                    color: white;
                    font-size: 4em;
                    margin: 0;
                }
    
                p {
                    color: white;
                    margin-top: 1em;
                    max-width: 27em;
                }
            }
        }
    }
}