<div class="footer">
    <div class="footerArea">
        <div class="footerRegion">
            <h2><b>Unternehmen</b></h2>
            <p>Über Uns</p>
            <p>Kontakt</p>
            <p>Hilfe</p>
        </div>
        <div class="footerRegion">
            <h2><b>Verkaufen</b></h2>
            <p>Verkäuferportal</p>
            <p>Anleitung zum Verkaufen</p>
            <p>News für gewerbliche Verkäufer</p>
            <p>Gebühren</p>
            <p>eBay Shop eröffnen</p>
            <p>Grundsätze für Verkäufer: Übersicht</p>
            <p>Verkäufer-Tools</p>
            <p>Versand</p>
            <p>International verkaufen</p>
            <p>Rechtsportal</p>
            <p>Verkäuferschutz</p>
            <p>Elektronik-Ankauf</p>
        </div>
        <div class="footerRegion">
            <h2><b>Handel</b></h2>
            <p>Anmelden</p>
            <p>Registrieren</p>
            <p>Verkaufen</p>
            <p>Händler AGBs</p>
        </div>
        <div class="footerRegion">
            <h2><b>Hilfe</b></h2>
            <p>Barrierefreiheit</p>
            <p>Sicherheitsportal</p>
            <p>Rechtsportal</p>
            <p>Fragen und Antworten</p>
        </div>
    </div>
    <div class="footerBelow">
        <h1>AKTIENINVEST</h1>
        <p>Unsere AGBs - Datenschutzerklärung - Impressum - Hinweise zu Cookies - Hinweise zu interessenbasierter Werbung</p>
        <p>©1996-2023 AktienInvest AG und Partner-Unternehmen</p>
    </div>
</div>