h1 {
    font-size: 1.7em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
}

.header-placeholder {
    height: 5em;
}

.header-component {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100vw;
    height: 5em;
    box-shadow: 0px 0px 5px 5px rgb(0, 0, 0, 0.03);
    z-index: 999999999;

    .header-logo-name {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            margin-right: 0.3em;
            width: 50px;
            height: auto;
        }
    }

    .header-menu {
        margin-right: 15em;
        margin-left: 2em;
        display: grid;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                margin: 1px;

                a {
                    padding: 5px 15px;
                    color: black;
                    text-decoration: none;
                    font-size: 1em;
                    font-weight: 500;
                }
            }
        }
    }

    .header-mein-account-logout {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 17em;

        /* button {
            cursor: pointer;
            background-color: white;
            border: 0px;
            border-radius: 10px;
            padding: 10px 25px;
            font-weight: 600;
            transition: .1s;

            &:first-child {
                background-color: black;
                color: white;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 1em;
                    font-weight: 500;
                }
            }

            &:first-child:hover {
                background-color: rgb(29, 101, 255);
            }

            &:last-child:hover {
                color: rgb(29, 101, 255);


            }
        } */
    }
}