<header class="header-component">
    <div class="header-logo-name" routerLink="./homepage">
        <img src="/assets/images/logo.jpg" alt="Das Logo konnte nicht geladen werden!">
        <h1>AktienInvest</h1>
        <!-- <h1>AKTIEXPERT</h1> -->
        <!-- <h1>TradeBoost</h1> -->
        <!-- <h1>MeineCooleAktie</h1> -->
    </div>
    <div class="header-menu">
        <!-- Hier kommt die Nav-Elemente rein -->
        <ul>
            <li><a routerLink="./aktien-und-etfs">Aktien und ETFs</a></li>
            <li><a routerLink="./multiplayer">Multiplayer</a></li>
            <li><a routerLink="./highscore-list">Highscore</a></li>
        </ul>
    </div>
    <div class="header-mein-account-logout">
        <button mat-raised-button routerLink="/mein-account">Mein Account</button>
        <button mat-button color="primary" routerLink="/login">Login</button>
    </div>
</header>
<div class="header-placeholder"></div>