.handle {
    padding-left: 20px;
    padding-top: 100px;

    mat-card-title {
        padding-bottom: 20px;
    }

    mat-label {
        padding-left: 30px;
        padding-top: 10px;
    }

    .kaufenButton {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }

    

}

