<div *ngIf="data.allowed">
    <h1 mat-dialog-title>Kaufen</h1>
    <mat-dialog-content class="dialog-content">
        <div class="price-budget">
            <h3>{{ data.numberOfStocks }} Aktie(n) zum Preis von {{ data.numberOfStocks * data.price | currency:'USD':true }} kaufen?</h3>
            <h2>Dein aktuelles Guthaben beträgt: ${{ data.capital }}</h2>
        </div>
        <app-own-transactions [allDataSelected]="allDataSelected" [dataSource]="dataSource"></app-own-transactions>
    </mat-dialog-content>
    <mat-dialog-actions class="button">
        <button *ngIf="multiplayerMode" (click)="buyMltp()" color="primary" mat-raised-button mat-dialog-close="true">Kaufen</button>
        <button *ngIf="!multiplayerMode" (click)="buy()" color="primary" mat-raised-button mat-dialog-close="true">Kaufen</button>
        <button mat-button mat-dialog-close="false">Abbrechen</button>
    </mat-dialog-actions>
</div>
<div *ngIf="!data.allowed">
    <h1 mat-dialog-title>Kaufen</h1>
    <mat-dialog-content class="dialog-content">
        <div class="price-budget">
            <h3>Du hast keine Aktienanzahl ausgewählt!</h3>
        </div>
    </mat-dialog-content>
</div>