.stock-metrics {
    margin-top: 3em;
    margin: 3em 0 0 8em;

    table {
        td {
            width: 15em;
        }
    }

    .bold {
        font-weight: 500;
    }

    .headline {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        h1 {
            font-size: 1.5em;
            margin: 0;
            margin-right: 0.5em;
        }

        img {
            width: 25px;
            height: auto;
        }
    }
}