<div class="homepage-multiplayer">
    <div class="hompage-multiplayer-information">
        <div>    
            <h1>Multiplayer Portfolio</h1>
            <p>Dir stehen die Möglichkeiten offen einem Spiel beizutreten oder ein Spiel zu erstellen.</p>
            <p>Wechsel jetzt zu deinem Multiplayer-Konto und entdecke die unendlichen Möglichkeiten der Gruppeninvestmentstrategien!</p>
            <p>Innerhalb eines Multiplayer-Spiels kannst Du dich mit deinen Freunden messen und eine Menge Spaß haben.<p>
        </div>
    </div>
    <div class="hompage-multiplayer-button">
        <button mat-raised-button routerLink="../multiplayer">Multiplayer Modus</button>
    </div>
</div>