<div class = "handle"> 
    <mat-card>
        <mat-card-header>
            <mat-card-title>Kaufen</mat-card-title>
        </mat-card-header>

        <div class="shares">
            <mat-label fxFlex>Shares</mat-label>
                <mat-form-field appearance="fill" floatLabel="always">
                    <input matInput type="number" [(ngModel)]="numberOfShares" min="0" placeholder="0">
                </mat-form-field>
        </div>

        <mat-card-content>
            <mat-label class="sum-label" fxFlex>Sum</mat-label>
            <p class="sum-value">{{ numberOfShares * pricePerShare | currency:'USD':true }}</p>
        </mat-card-content>

        <div class = "kaufenButton">
            <mat-card-actions>
                <button mat-raised-button>Kaufen</button>
            </mat-card-actions>
        </div>




    </mat-card>
</div> 
