<div class="homepage-multiplayer">
    <div class="hompage-multiplayer-information">
        <div>    
            <h1>Highscore Liste</h1>
            <p>Sobald Du zu den Top 10 der Spielern gehörst, warten tolle Preise auf dich!<p>
            <p>Schau dir die neue Highscore-Liste an! Dort sind alle Spieler der Welt verzeichnet!</p>
            <p>Je nach Höhe des Gewinns, welches Du in diesem Monat generiert hast, wirst Du auf dieser Liste platziert!</p>
        </div>
    </div>
    <div class="hompage-multiplayer-button">
        <button mat-raised-button routerLink="../highscore-list">Highscore Liste</button>
    </div>
</div>