<div class="homepage-header">
    <h1 *ngIf="!multiplayerMode">{{ headline }} {{ Accountdaten[0]['VORNAME'] }}</h1>
    <h1 *ngIf="multiplayerMode">Multiplayer Modus</h1>
    <div class="hompage-header-information">
        <h1 *ngIf="!multiplayerMode">Portfolio</h1>
        <h1 *ngIf="multiplayerMode">Multiplayer Portfolio</h1>
        <div class="seperator"></div>
        <div class="information-budget">
            <div>
                <h3>Insgesamter Depotwert</h3>
                <div *ngIf="showCumulativeBudget">
                    <h2>{{ stockCumulativeBudget | currency:"USD":true }}</h2>
                </div>
                <div *ngIf="!showCumulativeBudget" class="placeholder-budget">
                    <h2>$0.00</h2>
                </div>
                <div *ngIf="!multiplayerMode">
                    <h3>Prozentuale Veränderung</h3>
                    <div *ngIf="stockCumulativeBudget == 0">
                        <h4>{{ 0 | currency:"USD":true}} (0.00%)</h4>
                    </div>
                    <div *ngIf="stockCumulativeBudget < 3000 && stockCumulativeBudget > 0">
                        <h4>{{ stockCumulativeBudget - 3000 | currency:"USD":true}} ({{ (stockCumulativeBudget / 3000) - 1 | number : '.2-2' }}%)</h4>
                    </div>
                    <div *ngIf="stockCumulativeBudget >= 3000">
                        <h4>+{{ stockCumulativeBudget - 3000 | currency:"USD":true}} ({{ (stockCumulativeBudget / 3000) - 1 | number : '.2-2' }}%)</h4>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="freeBudget">Liquide Mittel</h3>
                <div *ngIf="showCumulativeBudget && !multiplayerMode">
                    <h2>{{ Accountdaten[0]['KONTOSTAND'] | currency:"USD":true }}</h2>
                </div>
                <div *ngIf="showCumulativeBudget && multiplayerMode">
                    <h2>{{ Accountdaten[0]['MLTP_KONTOSTAND'] | currency:"USD":true }}</h2>
                </div>
                <div *ngIf="!showCumulativeBudget" class="placeholder-budget">
                    <h2>$0.00</h2>
                </div>
            </div>
        </div>
    </div>
    <app-aktien-chart></app-aktien-chart>
</div>